<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Data" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLYCHBANXEMAY;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=false;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>
