<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MotoStore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MotoStore.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="MotoStore.Properties.Settings.ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLYCHBANXEMAY;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
 <userSettings>
  <MotoStore.Properties.Settings>
   <setting name="AvatarFilePath" serializeAs="String">
    <value>Phan-mem-quan-ly-cua-hang-xe-may\src\MotoStore\Avatars\</value>
   </setting>
   <setting name="ProductFilePath" serializeAs="String">
    <value>Phan-mem-quan-ly-cua-hang-xe-may\src\MotoStore\Products Images\</value>
   </setting>
  </MotoStore.Properties.Settings>
 </userSettings>
</configuration>
