<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServerName" connectionString="Default"/>
		<add name="ConString" connectionString="Data Source=Default; Encrypt=False; Integrated Security=true; Initial Catalog=QLYCHBANXEMAY;"/>
	</connectionStrings>
</configuration>